$primaryColor: #ff7f51;
$secondaryColor: #ce4257;
$primaryBtn: #4f000b;
$secondaryBtn: #720026;

$mobileSize: 768px;

@mixin flexCenter {
  background: $secondaryColor;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar{
  @include flexCenter();
  top: 0;
  box-shadow: 0 2px 2px #61212b;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 100;
  font-size: 7vh;
  cursor: default;
}

.footer{
  @include flexCenter();
  background-image: linear-gradient($primaryColor, $secondaryColor);
  bottom: 0;
  height: 4rem;
  div{
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 1.3rem;
    font-family: 'Abel', sans-serif;

    @media (max-width: $mobileSize) {
      font-size: 0.7rem;
    }
  }
}

.quotes{
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 25%;
  height: 75%;
  width: 100%;
  div{
    width: 50%;
    height: 100%;
    text-align: center;
    @media (max-width: $mobileSize) {
      width: 80%;
    }
  }
  @media (max-width: $mobileSize) {
    flex-direction: column;
    top: 10%;
  }
}

img{
  width: 20%;
  height: auto;
  @media (max-width: $mobileSize) {
    display: none;
  }
}

.kanyeinfo{
  font-family: 'Abel', sans-serif;
  font-size: 2rem;
  padding-left: 10%;
  padding-right: 5%;
  h2{
    color: $primaryBtn;
  }
  h5{
    color: $secondaryBtn;
  }
  @media (max-width: $mobileSize) {
    h2{
      font-size: 1.5rem;
    }
    h5{
      font-size: 1.5rem;
    }
  }
}

.kanyequote{
  font-family: 'Abel', sans-serif;
  font-size: 2rem;
  padding-right: 10%;
  padding-left: 5%;

  @media (max-width: $mobileSize) {
    font-size: 1.5rem;
  }
}

button{
  width: 40%;
  height: 8%;
  font-size: 2rem;
  background-color: $primaryBtn;
  color: $secondaryColor;
  border: 2px solid $primaryColor;
  font-family: 'Abel', sans-serif;

  &:hover{
    background-color: $primaryColor;
    border: 2px solid $secondaryColor;
    cursor: pointer;
  }

  @media (max-width:$mobileSize) {
    width: 100%;
    height: 20%;
  }
}

a{
  text-decoration: none;
  color: black;
}